@import "tailwindcss";

@theme {
  --color-page-bg: #E2E4F0;
  --color-card-bg: #f1f5f9;
  --color-border: #e5e7eb;
  --color-text-main: #2D2D30;
  --color-text-muted: #2D2D30;
  --color-card-skeleton: #d1d5db;
  --color-navbar: #f1f5f9;
  --color-input-search: #E2E4F0;
  --color-info-label: #64748b;
  --color-info-value: #2D2D30;
  --color-notification-unread: #F1F5F9;
  --color-card-skeleton: #D1D5DB;
  --color-review-skeleton: #E2E4F0;
}

@variant dark (&:where(.dark, .dark *));

.dark {
  --color-page-bg: #191B24;
  --color-card-bg: #1f2028;
  --color-border: #2e3039;
  --color-text-main: #ffffff;
  --color-text-muted: #ffffff;
  --color-card-skeleton: #14161D;
  --color-navbar: #1f202a;
  --color-input-search: #2B2D35;
  --color-info-label: #9ca3af;
  --color-info-value: #e5e7eb;
  --color-notification-unread: #25272F;
  --color-card-skeleton: #2A2C35;
  --color-review-skeleton: #191B24;
}